.root-editor-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: white;
}

.editor-header {
    background-color: white;
    box-sizing: border-box;
    height: 4rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.btn-theme {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.editor-header .header-btn,
.editor-header select {
    border: 1px solid gray;
    background-color: white;
    border-color: rgb(204, 204, 204);
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.editor-header select:focus {
    outline: none;
}

.editor-left-container,
.editor-right-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.editor-header .title {
    font-family: "Play", sans-serif;
    font-size: 25px;
    color: black;
}

.btn {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    background-color: white;
    color: black;
    border: none;
    font-family: "Play", sans-serif;
    font-size: 20px;
    gap: 10px;
    cursor: pointer;
}

.editor-body {
    background-color: white;
    flex-grow: 1;
}

.editor-footer {
    background-color: white;
    box-sizing: border-box;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}

.fullscreen {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
}

.menu-list1 {
    z-index: 8;
    width: 200px;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 75px;
    box-sizing: border-box;
    margin: 0;
    padding: 2px 8px 0 0;
    animation: hamurgerAnimation 0.7s;

}

.menu-list1 li {
    color: white;
    font-family: "Play", sans-serif;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;


}

.settings-background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51,51,51,0.8);
    /* opacity: 0.5; */
    z-index: 11;
}

.settings-container{
    height: 350px;
    width: 500px;
    background-color: #1d1e23;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 5px;
    animation: settingsAnimation 0.5s;
}

@keyframes settingsAnimation {
    from{
        transform: scale(0.2);
    }
    to{
        transform: scale(1);
    }
}

.settings-header{
    display: flex;
    box-sizing: border-box;
    padding: 0 20px;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    border-bottom: 3px solid rgba(59, 66, 80, 0.7);
    margin-bottom: 10px;
}

.settings-close{
    cursor: pointer;
}

.settings-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

.settings-card-left{
    max-width: 250px;
    color: #d7d7d7;
}

.settings-card-title{
    font-size: 16px;
    line-height: 160%;
    margin: 0;
    font-weight: bold;
}

.settings-card-desc{
    font-size: 12px;
    line-height: 160%;
    margin: 0;
}

.settings-card-right{
    font-size: 14px;
    cursor: pointer;
    outline: none;
    width: 120px;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
}

.settings-theme-button{
    border: 1px solid rgba(59, 66, 80, 0.7);
    box-sizing:border-box;
    padding: 8px;
    /* width: 90px; */
    border-radius: 4px;
}

.font-button,.font-value{
    box-sizing:border-box;
    height: 35px;
    width: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.font-button{
    border: 1px solid rgba(59, 66, 80, 0.7);
    user-select: none;
}

.font-minus{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.font-plus{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.font-value{
    border-top: 1px solid rgb(45,46,45);
    border-bottom: 1px solid rgb(45,46,45);
    cursor: default;
    height: 32px;
}

.font-value input{
    text-align: center;
    background-color: transparent;
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
}

.wrap-checkbox{
    height: 20px;
    width: 20px;
}


@media screen and (max-width:1225px) {
    .editor-body {
        flex-grow: 0;
        height: calc(100dvh - 19.5rem);
    }

    .editor-footer {
        justify-content: space-around;
    }

    .fullscreen .editor-body {
        height: calc(100dvh - 8rem);
    }
}

@media screen and (max-width:755px) {
    .remove {
        display: none;
    }
    .settings-container{
        width: 300px;
        height: 250px;
    }
}

@media screen and (max-height:500px) {
    .editor-body {
        flex-grow: 0;
        height: calc(100dvh - 12rem);
    }
    .settings-card-desc{
        display: none;
    }
    .settings-container{
        width: 300px;
        height: 250px;
    }
}

/* vansh4117v */
